a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
html,body{
    height:100vh;
    max-width:100%;
}
h1,h2,h3{
    font-family: "Rokkitt";
}
body{
    font-family:"Roboto"
}
/*-----Nav-----*/
nav>ul>li>a{
    color: lightgray;
    font-weight:900;
    padding-left: 5%;
}
nav{
    background-color: #333331;
    height: 100%;
}
#home{
    min-height: 700px;
}

#features{

}
nav>ul>li{
    width: 100%;
    display:flex;
    flex-direction: row;
    padding-left: 10px;
    text-align: center;
}
#offcanvasWithBothOptions{
    width: 15%;

}
.barre{
width:100%;
}

ul{
    padding: 0px;
}
/*-----home-----*/
#home{
    background: url("../images/bg_header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh; 
}
#section1{
    width:100%;
}
#menu{
    background-color: transparent;
    border: 0px;
    height: 50%;
}
#content-features{
    width:33%;
}
#logo{
    width:200px;

}
#logo>img{
    width:100%;
}
#logotxt{
    font-size: 3em;
    
}
#button-learn{
    background-color: #36c4c5;
}
/*-----features-----*/

/*-----about-----*/
#about{
    background: url("../images/bg_nuage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}
#bg-about{
    background-color: rgba(43, 196, 236, 0.562);
    width:40%;
    margin-right: 10%;
}
#bg-about>*{
    width:90%;
    display:flex;
    margin:auto;
}
/*-----Blog-----*/
#blogContent{
    width:80%;
}

#history{
    background: url("../images/bg_appareil_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;

}
#bg-blog{
    background-color: rgba(43, 196, 236, 0.562);
    width:40%;
    height: 100%;
    margin-left: 10%;
}
#historyContent{
    width:80%;
}

/*----------photos-------------*/
#photos{
    background-color: lightgray;
}
/*------------partenaires---------------*/
.flex-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start; /* should align items to the top of your flex row if they don't reach 100px in height */
}
.flex-container>a>img{
    max-height: 100px;
}
/*---------------contact-------------------*/
#contact{
    background: url("../images/bg_newsletter.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%; 
    
}
#contact>div{
    backdrop-filter: blur(10px);
    background-color: rgba(33, 33, 33, 0.562);
    height: 100%;
    
}
#contact>div>div{
    margin-left:10%;
}
/*------------------footer-------------------*/
footer{
    height: 25hv;
    background-color: #24323b;
}
footer>div{
    height: 50%;
}
.icon{
    background-color: aqua;
    border-radius: 100%;
    display: flex;
}
.icon2{
    background-color: white;
    border-radius: 100%;
    display: flex;
}
#icontumblr{
    width: 30px;
    align-items: center;
    margin: auto;
    justify-content: center;
}